.form {
  width: 360px;
}

.delay-field {
  margin-top: 8px;
  margin-bottom: 16px;
}

fieldset {
  border-radius: 4px;
  border: 1px solid #808080;
  margin-bottom: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

fieldset.radio-selected {
  border-color: #000;
}

fieldset label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.btn-snackbar {
  width: 100%;
}
