.btn-timer[disabled] {
  background-color: #cfcfcf;

  color: #989898;
  cursor: not-allowed;
}

.data-field {
  width: 272px;
}

.data-field[disabled] {
  background-color: #f5f5f5;

  color: #989898;
}

.data-field[disabled]:hover {
  border-color: #808080;
  cursor: not-allowed;
}

.timer {
  display: flex;
  gap: 24px;

  margin-top: 32px;
}

.field {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.value {
  color: #2e2f42;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.1rem;
}

.label {
  color: #2e2f42;
  text-transform: uppercase;
}

.icon {
  background-image: url('../img/icon-error.svg');
}
